* {
  margin: 0%;
  background-color: dimgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  padding: 20px;
  color: darkblue;
}

.header h1 {
  background-color: darkcyan;
  text-align: center;
  font-size: 50px;
}

.header nav {
  padding-top: 30px;
  margin-right: 20px;
  float: right;
  font-size: 25px;
}

.header nav ul {
  list-style-type: none;
}
.header nav ul li {
  display: inline-block;
}

figure {
  position: ;
  padding: 20px;
  text-align: center;
}

#contact-info {
}

.name {
}
.email {
}
.button {
}
.footer {
}
